<% content_for :header_links do %>
  <ul>
    <li>
      <a href="/">
        <i class="material-icons wiggle">view_module</i>
        <span>Recipe Cards</span>
      </a>
    </li>
  </ul>
<% end %>

<form class="edit-recipe" action="/recipe/create" method="post" enctype="multipart/form-data">
  <h2>Create Recipe</h2>
  <input class="btn" type="submit" value="Create" />
  <dl class="name">
    <dt><label for="name">Name</label></dt>
    <dd>
      <input type="text" name="name" id="name" value="<%= params[:name] %>" placeholder="My Super Awesome Recipe" />
    </dd>
  </dl>
  <dl class="image">
    <dt>
      <img class="img-placeholder" src="/icons/image_placeholder.svg" alt='Upload an Image' />
    </dt>
    <dd>
      <label class="choose-file btn">
        Choose File
        <input type="file" name="image" />
      </label>
    </dd>
  </dl>
  <dl>
    <dt><label for="description">Description</label></dt>
    <dd>
      <textarea name="description" id="description" cols=80 rows=10 placeholder="Enter recipe description"><%= params[:description] %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="ethnicities">Ethnicities</label></dt>
    <dd>
      <textarea name="ethnicities" id="ethnicities" cols=80 rows=10 placeholder="Put each ethnicity on its own line."><%= params[:ethnicities] %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="categories">Categories</label></dt>
    <dd>
      <textarea name="categories" id="categories" cols=80 rows=10 placeholder="Put each category on its own line."><%= params[:categories] %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="ingredients">Ingredients</label></dt>
    <dd>
      <textarea name="ingredients" id="ingredients" cols=80 rows=10 placeholder="Put each ingredient on its own line."><%= params[:ingredients] %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="steps">Directions</label></dt>
    <dd>
      <textarea name="steps" id="steps" cols=80 rows=10 placeholder="Put each step on its own line."><%= params[:steps] %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="notes">Notes</label></dt>
    <dd>
      <textarea name="notes" id="notes" cols=80 rows=10 placeholder="Put each note on its own line."><%= params[:notes] %></textarea>
    </dd>
  </dl>
  <input class="btn" type="submit" value="Create" />
</form>
