<% content_for :header_links do %>
  <ul>
    <li>
      <a href="/">
        <i class="material-icons wiggle">view_comfy</i>
        <span class="safe">Recipe Cards</span>
      </a>
    </li>
    <li>
      <a href="/recipe/<%= @recipe_id %>">
        <i class="material-icons wiggle">receipt</i>
        <span class="cancel">Back to Recipe</span>
      </a>
    </li>
    <li>
      <a class="destroy" href="#">
        <i class="material-icons wiggle">delete</i>
        <span class="destroy">Delete Recipe</span>
      </a>
      <div class="modal-overlay"></div>
      <div class="modal">
        <h3>Are you sure?</h3>
        <form action="/recipe/<%= @recipe_id %>/destroy" method="post">
          <input class="destroy" type="submit" value="Delete Recipe" />
          <input type="hidden" name="name" value="<%= @recipe.name %>" />
        </form>
        <a class="cancel" href="#">Cancel</a>
      </div>
    </li>
  </ul>
<% end %>

<form class="edit-recipe" action="/recipe/<%= @recipe_id %>" method="post" enctype="multipart/form-data">
  <h2>Edit Recipe: <%= params[:name] || @recipe.name %></h2>
  <input class="btn" type="submit" value="Update Recipe" placeholder="My Super Awesome Recipe" />
  <dl class="image">
    <dt>
      <% if params[:image] %>
        <img src="#" alt="<%= params[:image][:filename] %>" title="<%= params[:image][:filename] %>" id="image" />
      <% elsif @recipe.image %>
        <img src="/images/<%= @recipe.image.recipe_filename %>" alt="<%= @recipe.name %>" title="<%= @recipe.name %>" id="image" />
      <% else %>
        <img class="img-placeholder" src="/icons/image_placeholder.svg" alt='Upload an Image' id="image" />
      <% end %>
    </dt>
    <dd>
      <label class="choose-file btn">
        Choose File
        <input type="file" name="image" data-for="#image" />
      </label>
    </dd>
  </dl>
  <dl class="name">
    <dt><label for="name">Name</label></dt>
    <dd>
      <input type="text" name="name" id="name" value="<%= params[:name] || @recipe.name %>" />
    </dd>
  </dl>
  <dl class="cook-time grid grid-1-4">
    <dt><label for="hours">Cook Time</label></dt>
    <dd class="grid-1-2">
      <h3>Hours</h3>
      <input type="number" name="hours" id="hours" value="<%= params[:hours] || @recipe.cook_interval.hours || 0 %>" min="0" />
    </dd>
    <dd class="grid-1-2 last">
      <h3>Minutes</h3>
      <input type="number" name="minutes" id="minutes" value="<%= params[:minutes] || @recipe.cook_interval.minutes || 0 %>" min="0" max="59" />
    </dd>
  </dl>
  <dl class="description">
    <dt><label for="description">Description</label></dt>
    <dd>
      <textarea name="description" id="description" cols=80 rows=10 placeholder="Enter recipe description"><%==
        params[:description] || @recipe.description
      %></textarea>
    </dd>
  </dl>
  <div class="grid">
    <dl class="grid-1-2">
      <dt><label for="ethnicities">Ethnicities</label></dt>
      <dd>
        <textarea name="ethnicities" id="ethnicities" cols=80 rows=10 placeholder="Put each ethnicity on its own line."><%==
          params[:ethnicities] || on_newlines(@recipe.ethnicities.map(&:name))
        %></textarea>
      </dd>
    </dl>
    <dl class="grid-1-2">
      <dt><label for="categories">Categories</label></dt>
      <dd>
        <textarea name="categories" id="categories" cols=80 rows=10 placeholder="Put each category on its own line."><%==
          params[:categories] || on_newlines(@recipe.categories.map(&:name))
        %></textarea>
      </dd>
    </dl>
  </div>
  <dl>
    <dt><label for="ingredients">Ingredients</label></dt>
    <dd>
      <textarea name="ingredients" id="ingredients" cols=80 rows=10 placeholder="Put each ingredient on its own line."><%==
        params[:ingredients] || on_newlines(@recipe.ingredients.map(&:description))
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="steps">Directions</label></dt>
    <dd>
      <textarea name="steps" id="steps" cols=80 rows=10 placeholder="Put each step on its own line."><%==
        params[:steps] || on_newlines(@recipe.steps.map(&:description))
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="note">Notes</label></dt>
    <dd>
      <textarea name="note" id="note" cols=80 rows=10 placeholder="Put each note on its own line."><%==
        params[:note] || @recipe.note
      %></textarea>
    </dd>
  </dl>
  <input class="btn" type="submit" value="Update Recipe" />
</form>
