<!-- <p>
  <%= @full_recipe %>
</p> -->

<% content_for :header_links do %>
  <ul>
    <li><a href="/">Recipe Cards</a></li>
    <li><a href="/recipe/<%= @recipe_id %>">Back to Recipe</a></li>
  </ul>
<% end %>

<form class="edit-recipe" action="/recipe/<%= @recipe_id %>" method="post" enctype="multipart/form-data">
  <h2>Edit Recipe: <%= @full_recipe[:name] %></h2>
  <input class="btn" type="submit" value="Update Recipe" placeholder="My Super Awesome Recipe"/>
  <dl class="name">
    <dt><label for="name">Name</label></dt>
    <dd>
      <input type="text" name="name" id="name" value="<%= @full_recipe[:name] %>" />
    </dd>
  </dl>
  <dl class="image">
    <dt>
      <% if @full_recipe[:img_filename] %>
        <img src="/images/<%= @full_recipe[:img_filename] %>" alt="<%= @full_recipe[:name] %>" />
      <% else %>
        <img class="img-placeholder" src="/icons/image_placeholder.svg" alt='Upload an Image' />
      <% end %>
      <input type="hidden" name="current_image" value="<%= @full_recipe[:img_filename] %>" />
    </dt>
    <dd>
      <label class="choose-file btn">
        Choose File
        <input type="file" name="image" />
      </label>
    </dd>
  </dl>
  <dl>
    <dt><label for="description">Description</label></dt>
    <dd>
      <textarea name="description" id="description" cols=80 rows=10 placeholder="Enter recipe description"><%==
        @full_recipe[:description]
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="ethnicities">Ethnicities</label></dt>
    <dd>
      <textarea name="ethnicities" id="ethnicities" cols=80 rows=10 placeholder="Put each ethnicity on its own line."><%==
        pluck_on_newlines(@full_recipe[:ethnicities], :name)
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="categories">Categories</label></dt>
    <dd>
      <textarea name="categories" id="categories" cols=80 rows=10 placeholder="Put each category on its own line."><%==
        pluck_on_newlines(@full_recipe[:categories], :name)
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="ingredients">Ingredients</label></dt>
    <dd>
      <textarea name="ingredients" id="ingredients" cols=80 rows=10 placeholder="Put each ingredient on its own line."><%==
        pluck_on_newlines(@full_recipe[:ingredients], :description)
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="steps">Directions</label></dt>
    <dd>
      <textarea name="steps" id="steps" cols=80 rows=10 placeholder="Put each step on its own line."><%==
        pluck_on_newlines(@full_recipe[:steps], :description)
      %></textarea>
    </dd>
  </dl>
  <dl>
    <dt><label for="notes">Notes</label></dt>
    <dd>
      <textarea name="notes" id="notes" cols=80 rows=10 placeholder="Put each note on its own line."><%==
        pluck_on_newlines(@full_recipe[:notes], :description)
      %></textarea>
    </dd>
  </dl>
  <input class="btn" type="submit" value="Update Recipe" />
</form>
