<% content_for :header_links do %>
  <ul>
    <li>
      <a href="/recipe/create">
        <i class="material-icons spin">add_circle_outline</i>
        <span>New Recipe</span>
      </a>
    </li>
  </ul>
<% end %>

<ul class="card-list">
  <% @recipes.each do |recipe| %>
    <li>
      <article>
        <h1><%= recipe[:name] %></h1>
        <section>
          <% if recipe[:img_filename] %>
            <img src="../images/<%= recipe[:img_filename] %>" alt="<%= recipe[:name] %>" />
          <% else %>
            <img class="img-placeholder" src="../icons/image_placeholder.svg" alt='#' />
          <% end %>
          <div class="content">
            <a class="view-recipe" href="/recipe/<%= recipe[:recipe_id] %>">View Recipe</a>
            <ul class="categories">
              <% recipe[:categories].each do |category| %>
                <li><%= category[:name] %></li>
              <% end %>
            </ul>
            <p><%= recipe[:description] %></p>
          </div>
        </section>
      </article>
    </li>
  <% end %>
