<% content_for :header_links do %>
  <% if current_user? %>
    <ul>
      <li>
        <a href="/recipe/create">
          <i class="material-icons spin">add_circle_outline</i>
          <span class="safe">New Recipe</span>
        </a>
      </li>
    </ul>
  <% end %>
<% end %>

<div class="container">
  <aside class="filters">
    <a class="drawer_toggle" href="#"><i class="material-icons">filter_list</i></a>
    <form class="grid padded" action="#" method="get">
      <h2><label for="filterCategorySelect">Filter by Category</label></h2>
      <select class="grid grid-1-1 padded" name="filterCategorySelect" id="filterCategorySelect">
      </select>
    </form>
  </aside>
  <main>
    <ul class="card-list">
      <% sort_by_name(@recipes).each do |recipe| %>
        <li>
          <article>
            <h1><%= recipe.name %></h1>
            <section>
              <% if recipe.image.url.present? %>
                <img src="<%= recipe.image.url %>" alt="<%= recipe.name %>" />
              <% else %>
                <img class="img-placeholder" src="../icons/image_placeholder.svg" alt='#' />
              <% end %>
              <div class="content">
                <a class="view-recipe" href="/recipe/<%= recipe.id %>"><i class="material-icons">receipt</i>View Recipe</a>
                <ul class="categories">
                  <% recipe.categories.each do |category| %>
                    <li><%= category.name %></li>
                  <% end %>
                </ul>
                <p><%= recipe.description %></p>
              </div>
            </section>
          </article>
        </li>
      <% end %>
    </ul>
  </main>
</div>
