<% content_for :header_links do %>
  <ul>
    <li><a href="/"><i class="material-icons wiggle">view_comfy</i><span>Recipe Cards</span></a></li>
    <li><a href="/recipe/<%= @recipe_id %>/edit"><i class="material-icons wiggle">edit</i><span>Edit Recipe</span></a></li>
  </ul>
<% end %>

<article class="recipe">
  <header>
    <% if @recipe.img_filename %>
      <img src="/images/<%= @recipe.img_filename %>" alt="<%= @recipe.name %>" />
    <% else %>
      <img class="img-placeholder" src="/icons/image_placeholder.svg" alt='#' />
    <% end %>
    <h1><%= @recipe.name %></h1>

    <ul>
      <% unless @recipe.cook_time == '00:00' %>
        <li>Cook Time: <%= @recipe.cook_time.form_hh_mm %></li>
      <% end %>
    </ul>

    <ul class="ethnicities">
      <% @recipe.ethnicities do |eth| %>
        <li><%= eth[:name] %></li>
      <% end %>
    </ul>
    <ul class="categories">
      <% @recipe.categories do |cat| %>
        <li><%= cat[:name] %></li>
      <% end %>
    </ul>
    <% if @recipe.description != 'No description provided' %>
      <p><%= @recipe.description %></p>
    <% end %>
  </header>
  <section>
    <h2>Ingredients</h2>
    <ul class="ingredients">
      <% @recipe.ingredients do |ing| %>
        <li><%= ing[:description] %></li>
      <% end %>
    </ul>
  </section>
  <section>
    <h2>Directions</h2>
    <ol class="steps">
      <% @recipe.steps do |step| %>
        <li><%= step[:description] %></li>
      <% end %>
    </ol>
  </section>
  <section>
    <h2>Notes</h2>
    <ul class="notes">
      <% @recipe.notes.each do |note| %>
        <li><%= note[:description] %></li>
      <% end %>
    </ul>
  </section>
</article>
