<% content_for :header_links do %>
  <ul>
    <li><a href="/">Recipe Cards</a></li>
    <li><a href="/recipe/<%= @recipe_id %>/edit">Edit Recipe</a></li>
  </ul>
<% end %>

<article class="recipe">
  <header>
    <% if @full_recipe[:img_filename] %>
      <img src="/images/<%= @full_recipe[:img_filename] %>" alt="<%= @full_recipe[:name] %>" />
    <% else %>
      <img class="img-placeholder" src="/icons/image_placeholder.svg" alt='#' />
    <% end %>
    <h1><%= @full_recipe[:name] %></h1>
    <ul class="ethnicities">
      <% @full_recipe[:ethnicities].each do |eth| %>
        <li><%= eth[:name] %></li>
      <% end %>
    </ul>
    <ul class="categories">
      <% @full_recipe[:categories].each do |cat| %>
        <li><%= cat[:name] %></li>
      <% end %>
    </ul>
    <% if @full_recipe[:description] != 'No description provided' %>
      <p><%= @full_recipe[:description] %></p>
    <% end %>
  </header>
  <section>
    <h2>Ingredients</h2>
    <ul class="ingredients">
      <% @full_recipe[:ingredients].each do |ing| %>
        <li><%= ing[:description] %></li>
      <% end %>
    </ul>
  </section>
  <section>
    <h2>Directions</h2>
    <ol class="steps">
      <% @full_recipe[:steps].each do |step| %>
        <li><%= step[:description] %></li>
      <% end %>
    </ol>
  </section>
  <section>
    <h2>Notes</h2>
    <ul class="notes">
      <% @full_recipe[:notes].each do |note| %>
        <li><%= note[:description] %></li>
      <% end %>
    </ul>
  </section>
</article>
